.wallpaper {
    position: fixed;
    top: 48px;
    left: 48px;
    right: 48px;
    bottom: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.85;
}

.hero-text {
    position: fixed;
    top: 10%;
    left: 77%;
    transform: translateX(-50%);
    font-size: 49px;
    color: #000000;
    font-style: italic;
    text-align: right;
    white-space: nowrap;
}

.button-group {
    position: fixed;
    bottom: 80px;
    left: 120px;
    right: 120px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.button-group a {
    display: contents;
}

.button-group button {
    width: 60%;
    height: 128px;
    border-radius: 30px;
    border: none;
    font-size: 32px;
    font-weight: 600;
    color: #9ADAB0;
    background-color: #1E1E1E;
    cursor: pointer;
    letter-spacing: 6px;
    box-shadow: #0c110e 0px 8px 8px; 
}