.wallpaper {
    position: fixed;
    top: 48px;
    left: 48px;
    right: 48px;
    bottom: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    opacity: 0.45;
}

.hero-text {
    position: fixed;
    bottom: 232px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: #000000;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
}

.button-group {
    position: fixed;
    bottom: 80px;
    left: 80px;
    right: 80px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.button-group a {
    display: contents;
}

.button-group button {
    width: 60%;
    height: 128px;
    border-radius: 30px;
    border: none;
    font-size: 28px;
    font-weight: 500;
    color: #9ADAB0;
    background-color: #1E1E1E;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: #050505 0px 8px 8px; 
}