.navbar-links {
    position: fixed;
    top: 12.5%;
    display: flex;
    width: 95%;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    z-index: 1000;
}

.navbar-links a {
    font-size: 36px;
    color: #1E1E1E;
    text-decoration: underline;
}

.subheading {
    font-size: 35px;
    color: #1E1E1E;
    margin: 0;
    font-variant: small-caps;
    font-weight: 700;
}